name: Build and Push Frontend & Backend Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ---------- FRONTEND ----------
      - name: Build and push Frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/char-counter-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/char-counter-frontend:${{ github.sha }}

      # ---------- BACKEND ----------
      - name: Build and push Backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/char-counter-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/char-counter-backend:${{ github.sha }}

      - name: Logout from Docker Hub
        if: always()
        run: docker logout
